@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 12vh;
}

main {
    height: 200px;
    padding: 200px;
}


img {
    max-width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
}